# gitignore

# Python
**/__pycache__

## venv
lib/
lib64
pip-selfcheck.json
pyvenv.cfg
share/

# Vim/Idea
*.swp
*.idea

# Audio/Spectrograms
*.wav
*.mp3*.mp3
*.png
code/sample/stylized.*
code/reference_stylized.png
*.harmonics.*
*.fundamental.*
*.fundamental*
stylized.*
**/stylized.*
*/stylized.*
fundamental.*
!progress/*/*.mp3
!progress/*/*.png

# Big stuff
models/
data/
!code/extern/DeepSpeech/data/
*.jpg
code/extern/DeepSpeech/deepspeech-0.4.1-checkpoint
*.tar.*
*.h5
